 <ul class="nav nav-sidebar">
 <li><a href="{{ path('admin_blog_index') }}">{{'dashboard'|trans }} </a></li>
  <li><a href="{{ path('admin_ecommerce_service_list') }}">{{'service'|trans }}</a></li> 
  <li><a href="{{ path('admin_ecommerce_list') }}">{{'product'|trans }} </a></li>
  <li><a href="{{ path('admin_ecommerce_consulting_list') }}">{{'consulting'|trans }}</a></li>
  <li><a href={{ path('admin_trainer_list') }}> {{'trainer'|trans }} </a></li>
  <li><a href="{{ path('admin_blog_list') }}">{{'company'|trans }}</a></li>
  <li><a href="{{ path('admin_social_list') }}">{{'social.media'|trans }} </a></li>
  <li><a href="{{ path('admin_feedback_list') }}">{{'feedback'|trans }} </a></li>
  <li><a href={{ path('admin_user_liste') }}> {{'admin'|trans }}  </a></li>
  <li><a href={{ path('admin_home_list') }}> {{'homepage.design'|trans }} </a></li>
</ul>

	