{% extends "SiteBlogBundle::layoutAdmin.html.twig" %}

{% block title %}
{{'blog.list.head'|trans }}  | {{ parent() }}
{% endblock %}

{% block site_body %}

  <h1>{{'blog.list.title'|trans }}</h1>
<div class="table-responsive">
<table class="table table-striped">

      <thead>
        <tr>
          <th>{{'blog.list.subtitle'|trans }} </th>
          <th>{{'blog.list.author'|trans }}</th>
          <th>{{'blog.list.date'|trans }} </th>
          <th>{{'blog.list.statut'|trans }} </th>
          <th>{{'blog.list.action'|trans }}</th>
        </tr>
      </thead>
  
    {% for article in liste_articles %}
  
  <tbody>
    <td> 
      {{ article.description.title}}
    </td>
    
    <td> 
      {{ article.user.username }} 
    </td>
    

    <td> 
      le {{ article.description.date|date('d/m/Y') }}
    </td>
     
    <td> 
      {% if article.description.published == 1 %}
        <p class="text-success">En ligne</p>
      {% else %} 
        <p class="text-error">Hors ligne</p>
      {% endif %}
    </td>

    <td>
      <a href="{{ path('admin_blog_view', {'slug': article.slug}) }}">{{'blog.view'|trans }}</a> 
      <a href="{{ path('admin_blog_edit', {'slug': article.slug}) }}">{{'blog.edit'|trans }}</a> 
      <a href="{{ path('admin_blog_delete', {'slug': article.slug}) }}">{{'blog.delete'|trans }}</a> 
    </td>
  </tbody>
  
  {% else %}
    <li> {{'blog.no.comment'|trans }} </li>
  {% endfor %}
   
  </table>
  </div>
  
  <a href="{{ path('admin_blog_add')}}">{{'blog.add'|trans }}</a> 

{% endblock %}    